.view-pokemon {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.view-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.view-card img {
  width: 7em;
  height: 7em;
  padding: 1em;
  border-radius: 2em;
  background-color: #f9f9f950;
  border: solid 1px #cccccc;
}

.view-card figcaption {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0.5em;
}
